# Basic EDA, data distributions, missing value checks, column descriptions

## Dependencies

In [1]:
import pandas as pd
import sys

In [2]:
sys.path.append('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/src/')

from data_cleaning import nullProportions, verifyConcat, format_latlon
from geocode import reverse_geocode

In [3]:
sys.path.append('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/utils/')

from file_helpers import load_csvs

## Import Datasets

In [3]:
may_2024 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202405-divvy-tripdata.csv')
jun_2024 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202406-divvy-tripdata.csv')
jul_2024 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202407-divvy-tripdata.csv')
aug_2024 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202408-divvy-tripdata.csv')
sep_2024 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202409-divvy-tripdata.csv')
oct_2024 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202410-divvy-tripdata.csv')
nov_2024 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202411-divvy-tripdata.csv')
dec_2024 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202412-divvy-tripdata.csv')
jan_2025 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202501-divvy-tripdata.csv')
feb_2025 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202502-divvy-tripdata.csv')
mar_2025 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202503-divvy-tripdata.csv')
apr_2025 = pd.read_csv('/Users/kanghong/Documents/Developer/Google-Capstone/cyclist-case-study/data/202504-divvy-tripdata.csv')

In [4]:
apr_2025.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,AF3863596DF9D94B,classic_bike,2025-04-27 14:29:34.619,2025-04-27 14:36:23.584,Troy St & Elston Ave,15631,Richmond St & Diversey Ave,15645,41.945244,-87.706650,41.931902,-87.701195,member
1,8B38081EBE918800,electric_bike,2025-04-23 17:48:51.863,2025-04-23 17:59:06.015,Wabash Ave & Adams St,KA1503000015,Green St & Madison St,TA1307000120,41.879472,-87.625689,41.881859,-87.649264,member
2,1C7F1DE826BBBC8D,electric_bike,2025-04-05 17:55:30.845,2025-04-05 18:05:40.032,Damen Ave & Cortland St,13133,California Ave & Fletcher St,15642,41.915983,-87.677335,41.938429,-87.698008,member
3,CAD23D69A79A6C3B,classic_bike,2025-04-03 08:22:04.493,2025-04-03 08:32:06.099,Clark St & Elm St,TA1307000039,Orleans St & Merchandise Mart Plaza,TA1305000022,41.902973,-87.631280,41.888243,-87.636390,member
4,BE241E601482E0AB,electric_bike,2025-04-15 06:09:55.293,2025-04-15 06:19:58.942,Western Ave & Walton St,KA1504000103,Damen Ave & Charleston St,13288,41.898418,-87.686596,41.920082,-87.677855,member

In [5]:
past_year_data = [may_2024, jun_2024, jul_2024, aug_2024, sep_2024, oct_2024, nov_2024, dec_2024, jan_2025, feb_2025, mar_2025, apr_2025]

In [4]:
cyclistic_past_year = load_csvs()

cyclistic_past_year.head(10)

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [7]:
verifyConcat(past_year_data, cyclistic_past_year)

True

## Data Cleaning

### Handling Missing and Null values

In [8]:
cyclistic_past_year.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7D9F0CE9EC2A1297,classic_bike,2024-05-25 15:52:42,2024-05-25 16:11:50,Streeter Dr & Grand Ave,13022,Clark St & Elm St,TA1307000039,41.892278,-87.612043,41.902973,-87.631280,casual
1,02EC47687411416F,classic_bike,2024-05-14 15:11:51,2024-05-14 15:22:00,Sheridan Rd & Greenleaf Ave,KA1504000159,Sheridan Rd & Loyola Ave,RP-009,42.010587,-87.662412,42.001044,-87.661198,casual
2,101370FB2D3402BE,classic_bike,2024-05-30 17:46:04,2024-05-30 18:09:16,Streeter Dr & Grand Ave,13022,Wabash Ave & 9th St,TA1309000010,41.892278,-87.612043,41.870769,-87.625734,member
3,E97E396331ED6913,electric_bike,2024-05-17 20:21:54,2024-05-17 20:40:32,Streeter Dr & Grand Ave,13022,Sheffield Ave & Wellington Ave,TA1307000052,41.892270,-87.611946,41.936253,-87.652662,member
4,674EDE311C543165,classic_bike,2024-05-22 18:52:20,2024-05-22 18:59:04,Larrabee St & Division St,KA1504000079,Clark St & Elm St,TA1307000039,41.903486,-87.643353,41.902973,-87.631280,casual

In [9]:
nullProportions(cyclistic_past_year)

{'ride_id': {'prop': 0.0, 'count': 0},
 'rideable_type': {'prop': 0.0, 'count': 0},
 'started_at': {'prop': 0.0, 'count': 0},
 'ended_at': {'prop': 0.0, 'count': 0},
 'start_station_name': {'prop': 18.961907179433894, 'count': 1087633},
 'start_station_id': {'prop': 18.961907179433894, 'count': 1087633},
 'end_station_name': {'prop': 19.457070610214572, 'count': 1116035},
 'end_station_id': {'prop': 19.457070610214572, 'count': 1116035},
 'start_lat': {'prop': 0.0, 'count': 0},
 'start_lng': {'prop': 0.0, 'count': 0},
 'end_lat': {'prop': 0.11156083351755369, 'count': 6399},
 'end_lng': {'prop': 0.11156083351755369, 'count': 6399},
 'member_casual': {'prop': 0.0, 'count': 0}}

In [10]:
cyclistic_past_year.loc[cyclistic_past_year.duplicated()].shape

(0, 13)

##### Shows that all rows with end_lat and end_long missing, are rows with end_station_name and end_station_id missing

In [11]:
cyclistic_past_year.loc[cyclistic_past_year['end_lat'].isna() & 
                        cyclistic_past_year['end_lng'].isna() & 
                        cyclistic_past_year['end_station_name'].isna() &
                        cyclistic_past_year['end_station_id'].isna()].shape[0]

6399

#### Rows with missing start and end stations, have corresponding IDs missing as well

In [12]:
cyclistic_past_year.loc[cyclistic_past_year['start_station_name'].isna() & 
                        cyclistic_past_year['start_station_id'].isna()].shape[0] == cyclistic_past_year['start_station_name'].isna().sum()

np.True_

In [13]:
cyclistic_past_year.loc[cyclistic_past_year['end_station_name'].isna() & 
                        cyclistic_past_year['end_station_id'].isna()].shape[0] == cyclistic_past_year['end_station_name'].isna().sum()

np.True_

#### Drop rows with missing end latitudes and longitudes, since they are rows missing both station names and ids

In [14]:
cyclistic_past_year.dropna(subset=['end_lat', 'end_lng'], inplace=True)

#### Drop start and end station ids

In [15]:
cyclistic_past_year.drop(['start_station_id', 'end_station_id'], inplace=True, axis=1)

In [16]:
nullProportions(cyclistic_past_year)

{'ride_id': {'prop': 0.0, 'count': 0},
 'rideable_type': {'prop': 0.0, 'count': 0},
 'started_at': {'prop': 0.0, 'count': 0},
 'ended_at': {'prop': 0.0, 'count': 0},
 'start_station_name': {'prop': 18.98308486713902, 'count': 1087633},
 'end_station_name': {'prop': 19.367115892615132, 'count': 1109636},
 'start_lat': {'prop': 0.0, 'count': 0},
 'start_lng': {'prop': 0.0, 'count': 0},
 'end_lat': {'prop': 0.0, 'count': 0},
 'end_lng': {'prop': 0.0, 'count': 0},
 'member_casual': {'prop': 0.0, 'count': 0}}

### Data Transformation

In [17]:
cyclistic_past_year = format_latlon(cyclistic_past_year)

#### Imputation of missing station names

In [18]:
cyclistic_past_year.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,7D9F0CE9EC2A1297,classic_bike,2024-05-25 15:52:42,2024-05-25 16:11:50,Streeter Dr & Grand Ave,Clark St & Elm St,41.89228,-87.61204,41.90297,-87.63128,casual
1,02EC47687411416F,classic_bike,2024-05-14 15:11:51,2024-05-14 15:22:00,Sheridan Rd & Greenleaf Ave,Sheridan Rd & Loyola Ave,42.01059,-87.66241,42.00104,-87.66120,casual
2,101370FB2D3402BE,classic_bike,2024-05-30 17:46:04,2024-05-30 18:09:16,Streeter Dr & Grand Ave,Wabash Ave & 9th St,41.89228,-87.61204,41.87077,-87.62573,member
3,E97E396331ED6913,electric_bike,2024-05-17 20:21:54,2024-05-17 20:40:32,Streeter Dr & Grand Ave,Sheffield Ave & Wellington Ave,41.89227,-87.61195,41.93625,-87.65266,member
4,674EDE311C543165,classic_bike,2024-05-22 18:52:20,2024-05-22 18:59:04,Larrabee St & Division St,Clark St & Elm St,41.90349,-87.64335,41.90297,-87.63128,casual

In [19]:
null_start_stations = cyclistic_past_year.loc[cyclistic_past_year['start_station_name'].isna()]

null_end_stations = cyclistic_past_year.loc[cyclistic_past_year['end_station_name'].isna()]

In [ ]:
# null_start_stations = reverse_geocode(null_start_stations, type='start')

In [30]:
null_end_stations.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
30,23F3EB3F132247AF,electric_bike,2024-05-25 11:25:00,2024-05-25 11:45:06,Ashland Ave & Augusta Blvd,NaN,41.90,-87.67,41.96,-87.67,member
31,F827FB28C407688B,electric_bike,2024-05-18 09:55:23,2024-05-18 10:04:10,Southport Ave & Irving Park Rd,NaN,41.95,-87.66,41.94,-87.65,member
32,2BA9D1DE60628E21,electric_bike,2024-05-22 16:49:29,2024-05-22 17:04:01,Halsted St & Wrightwood Ave,NaN,41.93,-87.65,41.89,-87.62,member
33,A552FCD82B19540F,electric_bike,2024-05-16 16:55:54,2024-05-16 17:24:17,Halsted St & Wrightwood Ave,NaN,41.93,-87.65,42.00,-87.66,member
34,A3A29458EC398EE4,electric_bike,2024-05-21 17:44:13,2024-05-21 17:53:43,Sheffield Ave & Webster Ave,NaN,41.92,-87.65,41.93,-87.64,member

In [31]:
from geopy.geocoders import Nominatim
import time

In [38]:
geolocator = Nominatim(user_agent="cyclistic_project")
location = geolocator.reverse((41.89228, -87.61204), exactly_one=True)
time.sleep(1.0)
print(location.address)

Augusta & Paulina Auto Repair, 1700, West Augusta Boulevard, East Village, West Town, Chicago, West Chicago Township, Cook County, Illinois, 60622, United States

In [33]:
location.address[1]

'3'

In [34]:
import re

In [35]:
street_pattern = re.compile(r"([^,]+),\s+([^,]+),\s+([^,]+)")
match = street_pattern.search(location.address)
        
if match:
    # Extract the first two street names
    street1 = match.group(1)
    street2 = match.group(2)
    
    # Format the intersection
    intersection = f"{street1} & {street2}"

In [36]:
intersection

'4301-4303 & North Paulina Street'